<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Título" formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <textarea
      rows="3"
      matInput
      placeholder="Descripción"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <div class="button-container">
    <button (click)="saveChanges()" mat-raised-button color="primary">
      Editar
    </button>
    <button (click)="cancelChanges()" mat-raised-button color="warn">
      Cancelar
    </button>
  </div>
</form>
